@import "../../styles/variables.scss";
.home{
display: grid;
gap: 20px;
grid-template-columns: repeat(4,1fr);
grid-auto-rows: minmax(180px,auto);

    .box{
        padding: 20px;
        border-radius: 10px;
        border: 2px solid $soft-bg ;
        // background-color: rgb(173, 216, 230,0.521);
    }
    .box1{
        grid-column: span 1;
        grid-row: span 3;
    }
    .box4{
        grid-column: span 1;
        grid-row: span 3; 
    }
    .box7{
        grid-column: span 2;
        grid-row: span 2;
    }
}